.main-menu li {
	padding: 20px 20px 10px 20px;
	font-size: 18px;
}

.main-menu li a {
	padding: 0px;
	outline: 0;
}

.main-menu li.main-logo {
	padding-top: 3px;
	padding-bottom: 3px;
}

.main-menu .user-display {
	min-width: 200px;
}
.prompt{
	padding-top: 15px;
	padding-bottom: 15px;
}
#contact-link{
	text-align: right;
	float: right;
}

/* - - - - - Logotype - - - - - */
.navbar-brand {
	padding: 10px 15px;
}

.navbar-brand img {
	height: 46px;
}

.navbar-brand, .navbar-nav>li>a {
	text-shadow: none;
}

/* - - - - - Color - - - - - */
.navbar-default{
	background-color: #f4376d;
	background-image: none;
	border: none;
}
.navbar-default .navbar-nav > li > a,.navbar-default .navbar-nav > li > a:focus{
	color: #FFF;
}
.navbar-default .navbar-nav > li > a:hover{
	color: #ff8eae;
}
/*
@media only screen and (max-width:1050px) and (min-width:1021px){
	.navbar-header{
		text-align: center;
		width: 100%;
		height: 50px;
	}
	.navbar-brand{
		margin: 0 auto;
		float: none;
	}
	.navbar-brand img{
		margin-top: 10px;
	}
	.navbar-brand > img {
    display: inline;
	}
}*/
/* - - - - - burger - - - - - */
.navbar-default {
	margin-bottom: 0px;
}
.navbar-default .navbar-toggle {
    border: none;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #d82458;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.hidden-mobile{
	display: block!important;
}
.visible-mobile{
	display: none!important;
}
@media only screen and (max-width: 1050px) and (min-width: 768px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
		.navbar-header{
			margin-left: 0px;
			margin-right: 0px;
			width: 97%;
			margin: 0 auto!important;
		}
		.navbar-toggle {
    	margin-right: 0px;
		}
		.container-fluid > .navbar-collapse {
	    margin-right: -15px;
	    margin-left: -15px;
		}
		.navbar-nav {
    	margin: 7.5px -15px;
		}
}
@media only screen and (max-width: 1050px) {
	.navbar-header{
		height: 66px;
	}
	.navbar-collapse{
		background-color: #d82458;
		text-align: center;
	}
	.navbar-toggle {
		margin-top: 13px;
		margin-bottom: 13px;
		height: 39px;
	}
	.navbar-toggle .icon-bar {
		width: 28px;
	}
	.navbar-toggle .icon-bar + .icon-bar {
		margin-top: 7px;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
	}
	.nav > li:hover{
		background-color: #c32250;
	}
	.hidden-mobile{
		display: none!important;
	}
	.visible-mobile{
		display: block!important;
	}
}
