.main-menu li {
	padding: 20px 20px 10px 20px;
	font-size: 18px;
}

.main-menu li a {
	padding: 0px;
	outline: 0;
}

.main-menu li.main-logo {
	padding-top: 3px;
	padding-bottom: 3px;
}

.main-menu .user-display {
	min-width: 200px;
}

/* - - - - - Logotype - - - - - */
.navbar-brand {
	padding: 10px 10px;
}

.navbar-brand img {
	height: 46px;
}

.navbar-brand, .navbar-nav>li>a {
	text-shadow: none;
}

/* - - - - - Background color - - - - - */
.navbar-default{
	background-color: #f4376d;
	background-image: none;
	border: none;
}
.navbar-default .navbar-nav > li > a{
	color:#FFF;
}
