.main-menu li {
	padding: 20px 20px 10px 20px;
	font-size: 18px;
}

.main-menu li a {
	padding: 0px;
	outline: 0;
}

.main-menu li.main-logo {
	padding-top: 3px;
	padding-bottom: 3px;
}

.main-menu .user-display {
	min-width: 200px;
}
.prompt{
	padding-top: 15px;
	padding-bottom: 15px;
}
#contact-link{
	text-align: right;
	float: right;
}
/* - - - - - burger - - - - - */
.navbar-default {
	margin-bottom: 0px;
}
.navbar-default .navbar-toggle {
    border: none;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #d82458;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
@media screen and (max-width:767px){
	.navbar-collapse{
		background-color: #d82458;
		text-align: center;
	}
	.navbar-header{
		height: 66px;
	}
	.navbar-toggle {
    margin-top: 14px;
    margin-bottom: 14px;
	}
	.navbar-toggle .icon-bar {
    width: 28px;
	}
	.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 7px;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
	}
	.nav > li:hover{
    background-color: #c32250;
	}

}
/* - - - - - Logotype - - - - - */
.navbar-brand {
	padding: 10px 15px;
}

.navbar-brand img {
	height: 46px;
}

.navbar-brand, .navbar-nav>li>a {
	text-shadow: none;
}

/* - - - - - Color - - - - - */
.navbar-default{
	background-color: #f4376d;
	background-image: none;
	border: none;
}
.navbar-default .navbar-nav > li > a,.navbar-default .navbar-nav > li > a:focus{
	color: #FFF;
}
.navbar-default .navbar-nav > li > a:hover{
	color: #ff8eae;
}
