.clickable {
	cursor: pointer;
}

.right {
	float: right;
	margin-top: 5px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F7a021;
    color: white;
		font-size: 20px;
		height: 40px;
		text-align: center;
		margin-left: 0 !important;
		margin-right: 0 !important;
}
h1, h2, h3, h4, p, table{
	color: #FFF;
}

body {
	background-color: #390444;
	/*background-color: #f35d98;*/
}
.container p {
	color: #FFF;
}
/* - - - - - jumbotron - - - - - */
.jumbotron-bg{
	background-image: url("../images/shows/test.jpg");
	background-size: cover;
	background-position: center;
	margin-top: -20px;
}
.jumbotron {
	background-color: rgba(0, 0, 0, 0.2);
	color: #FFF;
}

/* - - - - - Shows days title - - - - - */
.active {
	background-color: #8a4797 !important;
	text-shadow: none !important;
	border-color: #8a4797 !important;
	color: #FFF;
}

.list-group-item.active {
	background-image: none;
}

.list-group-item.active:hover {
	background-image: none;
}

/* - - - - - btn override - - - - - */
.btn {
	background-color: #f0f0f0;
}

.btn-primary {
	background-color: #8a4797;
	background-image: none;
}

.btn-primary:hover {
	background-color: #662972;
}

.btn-primary:active {
	background-color: #662972;
	border-color: #662972;
}

.btn-primary:active:hover {
	background-color: #662972;
	border-color: #662972;
}

.btn-primary:active:focus {
	background-color: #662972;
	border-color: #662972;
}

.btn-primary:focus {
	background-color: #5a1f66;
	border-color: #5a1f66;
}

.title-item {
	padding: 10px 15px;
}

.list-group {
	-webkit-box-shadow: none;
	box-shadow: none;
	white-space: nowrap;
}

.list-group:last-child {
	padding-right: 0px;
}

.container-full {
	margin: 0 auto;
	width: 100%;
	/*padding-right: 0px; side jump fix*/
	padding-left: 0px;
}

.list-group-item {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

* {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	background-image: none;
}

.btn-abort {
	float: left;
}

#price-label {
	text-align: center;
}
