/* User-generated text that should preserve newlines. */
p.multi-paragraph {
	white-space: pre-line;
}

.capitalize {
	text-transform: capitalize;
}

body {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 1.42857143;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}
.mobile-center{
	text-align: left;
}
@media screen and (max-width:767px){
	h1 {
		font-size: 26px;
	}
	.jumbotron p {
    font-size: 19px;
	}
	h2{
		font-size: 24px;
	}
	h3{
		font-size: 20px;
	}
	.mobile-center{
		text-align: center;
	}

}
