/* User-generated text that should preserve newlines. */
p.multi-paragraph {
	white-space: pre-line;
}

.capitalize {
	text-transform: capitalize;
}

body {
	font-family: Lato Light, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Montserrat Semibold, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}
