<!DOCTYPE html>
<html ng-app="lkticket.admin" lang="en">
<head>
<title>LKTicket Admin</title>

<meta name="description"
	content="Administrationsgränssnitt för Lundakarnevalens biljettsystem" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta property="og:image" content="/images/thumbnail.png" />

<link rel="icon" href="/images/icons/default.png"
	type="image/vnd.microsoft.icon" />

<!-- Angular -->
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-route/angular-route.min.js"></script>
<script
	src="/bower_components/angular-xeditable/dist/js/xeditable.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="/bower_components/angular-xeditable/dist/css/xeditable.min.css" />

<!-- JQuery -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>

<!-- The Chosen Library -->
<script src="/bower_components/chosen/chosen.jquery.js"></script>
<link rel="stylesheet" type="text/css"
	href="/bower_components/chosen/chosen.css" />
<script src="/bower_components/angular-chosen/angular-chosen.js"></script>

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"
	href="/bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" type="text/css"
	href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- ng-file-upload -->
<script
	src="/bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
<script src="/bower_components/ng-file-upload/ng-file-upload.min.js"></script>

<!-- Font Awesome -->
<link rel="stylesheet" type="text/css"
	href="/bower_components/font-awesome/css/font-awesome.min.css" />

<!-- Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,700i&subset=latin-ext"
	rel="stylesheet" />

<!-- Locale -->
<script src="/bower_components/angular-i18n/angular-locale_sv-se.js"></script>

<!-- App -->
<link rel="stylesheet" type="text/css" href="/x.css" />
<script src="/x.js"></script>
<script src="/js/env.js"></script>

</head>
<body ng-controller="LoginCtrl" class="page-{{route.current.pagetype}}">

	<nav class="main-menu navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#main-menu">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<ul class="nav navbar-nav navbar-left">
					<li class="level-one main-logo"><a href="#/"><img
							src="/images/logo/logo.png" alt="LKTicket Admin" /></a></li>
				</ul>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="main-menu">
				<ul class="nav navbar-nav" ng-if="userStatus('LOGGED_IN')">
					<li class="level-one"><a href="#/shows" class="menu_header">Nöjen</a></li>
					<li class="level-one"><a href="#/users" class="menu_header">Karnevalister</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="level-one" ng-show="userStatus('ERROR')"><i
						class="fa fa-lg fa-warning"></i></li>
					<li class="level-one" ng-show="userStatus('WORKING')"><i
						class="fa fa-lg fa-spin fa-refresh"></i></li>
					<li class="level-one user-display"
						ng-show="userStatus('LOGGED_IN')"><img
						class="user-picture-small" ng-src="{{user().picture}}" /> <a>{{user().name
							|| user().email}} <i class="fa fa-sign-out clickable"
							ng-click="logout()" title="Logga ut"></i>
					</a></li>
					<li class="level-one login-button"
						ng-show="userStatus('LOGGED_OUT')"><a href="{{loginURL()}}"
						role="button">Log in</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div ng-if="userStatus('LOGGED_IN')" ng-view></div>

	<div class="main-footer">
		<div class="footer-top"></div>
		<div class="footer-content">
			<p></p>
		</div>
	</div>

	<!-- TODO Analytics -->
</body>
</html>
