<div class="container item-page">
	<h5>Föreställningar</h5>

	<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Barnplats</th>
      <th>Vuxenplats</th>
      <th>Parkett</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Barn</th>
      <td>30</td>
      <td>X</td>
      <td>X</td>
    </tr>
    <tr>
      <th scope="row">Vuxen</th>
      <td>X</td>
      <td>50</td>
      <td>50</td>
    </tr>
    <tr>
      <th scope="row">Student</th>
      <td>X</td>
      <td>X</td>
      <td>40</td>
    </tr>
  </tbody>
</table>

	<div ng-repeat="(dayDate, performances) in performancesByDate">
				<h5>{{dayDate | date : 'EEEE, MMMM d'}}</h5>
				<div class="list-group">
					<div class="list-group-item" ng-repeat="performance in performances">{{formatDate(performance.start) | date : 'HH:mm'}}</div>
				</div>
				<form name="newShow" ng-submit = "addNewPerformance(newPerformance, dayDate)" novalidate>
					<input type="text" placeholder="HH:MM" ng-model = "newPerformance.time" required>
					<input type="submit" class="btn btn-primary" value="Lägg till ny föreställning">

				</form>
	</div>


		<form name="newDateForm" ng-submit="addNewDate(newDate)" novalidate>
			<input type="text" ng-model="newDate">
			<input type="submit" class="btn btn-primary" value="Lägg till nytt datum">
		</form>

</div>
