<div class="container item-page">
	<h5>Föreställningar</h5>

	<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Barnplats</th>
      <th>Vuxenplats</th>
      <th>Parkett</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Barn</th>
      <td>30</td>
      <td>X</td>
      <td>X</td>
    </tr>
    <tr>
      <th scope="row">Vuxen</th>
      <td>X</td>
      <td>50</td>
      <td>50</td>
    </tr>
    <tr>
      <th scope="row">Student</th>
      <td>X</td>
      <td>X</td>
      <td>40</td>
    </tr>
  </tbody>
</table>

	<div ng-repeat="(dayDate, performances) in performancesByDate">
				<h1>{{dayDate}}</h1>
				<div class="list-group">
					<a href="#" class="list-group-item" ng-repeat="performance in performances">{{formatDate(performance.start) | date : 'EEEE, MMMM d, HH:mm'}}</a>
				</div>
	</div>

</div>
