<div class="container">
	<h1>{{show.name}}</h1>

	<h2>Biljetter och priser</h2>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>#</th>
				<th ng-repeat="category in show.categories">{{category.name}}</th>
			</tr>
		</thead>
		<tbody>

			<tr ng-repeat="rate in rates">
				<th scope="row">{{rate.name}}</th>

				<td>30</td>
				<td>X</td>
				<td>X</td>
			</tr>

		</tbody>
	</table>

	<h2>Föreställningar</h2>
	<div ng-repeat="(date, performances) in show.dates">
		<h3 class="capitalize">{{date | date : 'EEEE d MMMM yyyy'}}</h3>
		<div class="list-group">
			<div class="list-group-item" ng-repeat="performance in performances">{{performance.start
				| timestamp | date : 'HH:mm'}}</div>
			<form class="list-group-item"
				ng-submit="addPerformance(newPerformance, date)" novalidate>
				<input type="text" placeholder="HH:MM"
					ng-model="newPerformance.time" required> <input
					type="submit" class="btn btn-primary"
					value="Lägg till ny föreställning">

			</form>
		</div>
	</div>
	<form ng-submit="addDate()">
		<input required type="text" ng-model="newDate"> <input
			type="submit" class="btn btn-primary" value="Lägg till nytt datum">
	</form>



	Testfunktioner!

	<form name="newCategory"
		ng-submit="newCategory.$valid && postCategory(category)" novalidate>
		<input type="text" ng-model="category.name" required> <input
			type="submit" class="btn btn-primary" value="Lägg till ny kategori">
	</form>

	<form name="newRate" ng-submit="newRate.$valid && postRate(rate)"
		novalidate>
		<input type="text" ng-model="rate.name" required> <input
			type="submit" class="btn btn-primary" value="Lägg till ny rate">
	</form>

</div>
