<div class="container-fluid" ng-controller="ShowCtrl">
	<h1>{{show.name}} </h1>
<div class="col-sm-4">
	HEJ Här förklarar vi lite om varje show
</div>
{{performances}}
<div class="">
		<div class="list-group col-md-2" ng-repeat="(date, performances) in show.dates">
			<div class="list-group-item active">
				{{date | date : 'EEEE d MMMM yyyy'}}
			</div>
			<a href = "#/performance/{{performance.id}}" class="list-group-item" ng-repeat="performance in performances">
				<div class="label label-danger" ng-show="performance.available==0">
					Slut
				</div>
				<div class="label" ng-show="performance.available>0"
					ng-class="{'label-warning':performance.available < 10,'label-success':performance.available >= 10}">
					{{performance.available}}
				</div>
				<div>
					{{performance.start | date : 'HH:mm'}}
				</div>
			</a>
		</div>
</div>
</div>
