<div class="jumbotron-bg"
	style="background-image: url('{{show.image}}');">
	<div class="jumbotron">
		<div class="container">
			<h1>{{show.name}}</h1>
			<p>{{show.description}}</p>
		</div>
	</div>
</div>
<div class="container" ng-controller="ShowCtrl">
	<div class="animation-wrapper">
		<div class="list-group col-md-3"
			ng-repeat="(date, perfs) in performances | orderBy:'date' | groupBy:'date'">
			<div class="list-group-item active">
				<span ng-if="date && date != 'null'">{{date | date : 'EEEE d
					MMMM yyyy'}} </span><span>&nbsp;</span>
			</div>
			<a href="#/performance/{{perf.id}}" class="list-group-item"
				ng-repeat="perf in perfs | orderBy: 'start'">
				<div class="label label-danger label-right"
					ng-show="perf.available==0">Slutsåld</div>
				<div class="label label-right" ng-show="perf.available>10"
					ng-class="{'label-success':perf.available >= 10}">
					Tillgänglig</div>
				<div class="label label-right"
					ng-show="(perf.available>0)&&(perf.available < 10)"
					ng-class="{'label-warning':perf.available < 10}">Fåtal kvar</div>
					<span class="badge badge-primary badge-pill english-text" ng-show="perf.note == 'English subtitles'">En subs</span>
				<div ng-show="perf.title === null">{{perf.start | date :
					'HH:mm'}}</div>
				<div ng-show="perf.title !== null">{{perf.title}}</div>
			</a>
		</div>
	</div>
</div>
