<div class="jumbotron-bg">
	<div class="jumbotron">
		<div class="container">
			<h1>{{show.name}}</h1>
			<p>Lorem Ipsum är en utfyllnadstext från tryck- och förlagsindustrin. Lorem ipsum har varit standard ända sedan 1500-talet, när en okänd boksättare tog att antal bokstäver och blandade dem för att göra ett provexemplar av en bok. Lorem ipsum har inte bara överlevt fem århundraden, utan även övergången till elektronisk typografi utan större förändringar. Det blev allmänt känt på 1960-talet i samband med lanseringen av Letraset-ark med avsnitt av Lorem Ipsum, och senare med mjukvaror som Aldus PageMaker.</p>
			<!--<p>{{show.description}}</p>-->
		</div>
	</div>
</div>
<div class="container" ng-controller="ShowCtrl">

<div class="col-sm-4">

</div>
{{performances}}
</br>
<div class="animation-wrapper">
		<div class="list-group col-md-3" ng-repeat="(date, performances) in show.dates">
			<div class="list-group-item active">
				{{date | date : 'EEEE d MMMM yyyy'}}
			</div>
			<a href = "#/performance/{{performance.id}}" class="list-group-item" ng-repeat="performance in performances">
				<div class="label label-danger label-right" ng-show="performance.available==0">
					Slutsåld
				</div>
				<div class="label label-right" ng-show="performance.available>0"
					ng-class="{'label-success':performance.available >= 10}">
					<!--{{performance.available}}-->
					Tillgänglig
				</div>
				<div class="label label-right" ng-show="(performance.available>0)&&(performance.available < 10)"
					ng-class="{'label-warning':performance.available < 10}">
					<!--{{performance.available}}-->
					Få biljetter kvar
				</div>
				<div>
					{{performance.start | date : 'HH:mm'}}
				</div>
			</a>
		</div>
</div>
</div>
